
    <div class="w3-top">
        <div class="w3-bar w3-white w3-wide w3-padding w3-card " >
          <a routerLink="/" class="w3-bar-item w3-button"><b>F</b>ixer</a>
          <!-- Float links to the right. Hide them on small screens -->
          <div class="w3-right w3-hide-small">
            <a routerLink="/services" class="w3-bar-item w3-button"><span class="glyphicon glyphicon-wrench" ></span> Services</a>
            <a routerLink="/artisans" class="w3-bar-item w3-button"><span class="glyphicon glyphicon-user" ></span> Artisan</a>
            <a routerLink="/signin" class="w3-bar-item w3-button"><span class="glyphicon glyphicon-off" ></span> Se connecter</a>
            <a routerLink="/signup" class="w3-bar-item w3-button"><span class="glyphicon glyphicon-pencil" ></span> S'inscrire</a>
          
          </div>
        </div>
    </div>

