<div class="w3-col l3 m6 w3-margin-bottom">
  <div class="padd">
          <img [src]="artisan.avatar" alt={{artisan.name}} style="width:100%">
          <h3>{{ artisan.name }}</h3>
          <p class="w3-opacity"> {{artisan.adresse}}</p>

          <p><button class="w3-button w3-light-green w3-hover-green w3-block">Services proposes</button></p>
          <!-- <p><button class="w3-button w3-red w3-hover-deep-orange w3-block" (click)="onDelete()">Supprimer</button></p> -->
          <!-- <p><button class="w3-button w3-red w3-hover-deep-orange w3-block" (click)="onCheck()">Check ID</button></p> -->
  </div>

    
</div>

